
<html>
    <head>
       
        <title>ProRecruit | The Best out THERE!!!</title>
       
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
         <link href="../css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
      
        <link href="../css/prorecruit.css" rel="stylesheet" type="text/css" />
       <script src="../js/jquery.min.js"></script>
	    <script src="../js/jquery-ui-1.10.3.min.js"></script>
            <script src="../js/tagit/tagit.js"></script>
            <link href="../css/tag/tagit-blue.css" rel="stylesheet"/>
            
	       <script type="text/JavaScript">
            
               $(function(e){var i=0;
                    $("#a_newuser").click(function(e){ 
                        e.preventDefault();
                      
                        $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                        $('#first'+i+'').load("adduser.html");
                        i++;
                       
                       
                    });
                   $("#erf").click(function(e){
                        e.preventDefault();
                        $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                        $('#first'+i+'').load("requisition.html");
                       i++;
                       
                    });
                    $(".editprofile").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("editprofile.html");
                        i++;
                        
                    });
                    $("#editorg").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("org_details.html");
                        i++;
                        
                    });
                    $("#addjob").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("addjob.html");
                        i++;
                        
                    });
                    $(".companydetails").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                        $('#first'+i+'').load("admincompanydetails.html");
                        i++;
                       
                    });
                    $(".employeedetail").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("employeedetails.html");
                        i++;
                      
                    });
                    $("#approved").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("approved.html");
                        i++;
                        
                    }); 
                             $("#drft").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("drafts.html");
                        i++;
                        
                    }); 
                        $("#ongoing").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("ongoing.html");
                        i++;
                        
                        
                    });
                             $("#closed").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("closed.html");
                        i++;
                       
                    }); 
                             
                             $("#existing_users").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("users.html");
                        i++;
                       
                    });
                             $("#refer1, #refer2, #refer3, #refer4").click(function(e){ 
                                    e.preventDefault();
                                  $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                                    $('#first'+i+'').load("refer.html");
                                    i++;
                               
		                         
		});
                             $("#cdb").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("indexcandidateform.html");
                        i++;
                       
                    });
                 
                        $(".all_vacancies").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("approved.html");
                        i++;
                            
                             $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("ongoing.html");
                        i++;
                             $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("closed.html");
                        i++;
                        
                    });
                                     $("#existingjobs").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("existingjobs.html");
                        i++;
                       
                    });
                             
                     
                         $("#existingusers").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("existingusers.html");
                        i++;
                        
                    }); 
                        $(".interview").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("myinterviewer.html");
                        i++;
                        
                        
                    });   
                         $(".schedule").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("slc.html");
                        i++;
                        
                        
                    });   
                         $("#evaluation").click(function(e){ 
                        e.preventDefault();
                         $("#content_blocks").prepend('<div id="first'+i+'"></div>');
                         $('#first'+i+'').load("evaluationSheet.html");
                        i++;
                     
                    });          
                             
               });
	/*$(document).ready(function(){
		$("#a_newuser").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("addnew.html");
		});
		$("#erf").click(function(e){
			e.preventDefault();
		$("#cont_form").load("requisition.html");
		});
        $("#editprofile").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("editprofile.html");
		});
        $("#editorg").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("org_details.html");
		});
        $("#addjob").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("addjob.html");
		});
		$(".companydetails").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("admincompanydetails.html");
		});
		$(".employeedetail").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("employeedetails.html");
		});
			$("#approved").click(function(e){ 
		e.preventDefault();
		$("#cont_form").load("approved.html");
		});
	});*/
     
</script>
		

       
    </head>
    <body class="skin-black fixed">
	
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="index.html" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                ProRecruit
            </a>
			
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                    <a href="#" class="navbar-btn sidebar-toggle" style="display:none" data-toggle="oncanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="check_admin">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>Admin<i class="caret"></i></span>
                            </a> <a href="#" class="check_admin1" style="display:none">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>Admin<i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="../img/admin.png" class="img-circle" alt="User Image" />
                                    <p>
                                        Admin
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat editprofile">Edit Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="../../../RMS/" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        
        
    
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel"><br>
                        <div class="pull-left image">
                            <img src="../img/admin.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <br><p>Hello, Admin</p>
                        </div>
                    </div><br>
                    
                    
                    
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="editprofile">
                                <i class="fa fa-gear"></i> <span>Edit Profile</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-pencil"></i><span>Employee Requisition</span>
                                 <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#" id="erf"><i class="fa fa-angle-double-right"></i>New Form</a></li>
                                <li><a href="#" id="drft"><i class="fa fa-angle-double-right"></i>Drafts</a></li>
                               
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#demographics" class="companydetails">
                                <i class="glyphicon glyphicon-stats"></i> <span>Company Demographics</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#" class="employeedetail">
                                <i class="glyphicon glyphicon-stats"></i> <span>Employee Tally</span>
                            </a>
                       </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-briefcase"></i><span>Vacancies</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="" class="all_vacancies"><i class="fa fa-angle-double-right"></i> All</a></li>
                                <li><a href="" id="approved"><i class="fa fa-angle-double-right"></i> Approved</a></li>
                                <li><a href="" id="ongoing"><i class="fa fa-angle-double-right"></i> Ongoing</a></li>
                                <li><a href="" id="closed"><i class="fa fa-angle-double-right"></i> Closed</a></li>
                               
                            </ul>
                        </li>
                        <li>
                            <a href="" class="interview">
                                <i class="fa fa-calendar"></i> <span>Scheduler</span>
                            </a>
                       </li>
                         <li class="treeview">
                            <a href="#">
                                <i class="fa fa-group"></i><span>Users</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a id="a_newuser" href="" ><i class="fa fa-angle-double-right"></i> Add New User</a></li>
                                <li><a href="" id="existingusers"><i class="fa fa-angle-double-right"></i> Existing Users</a></li>
                               
                            </ul>
                        </li>
                         <li class="treeview">
                            <a href="#">
                                <i class="fa fa-briefcase"></i><span>Jobs</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="" id="addjob"><i class="fa fa-angle-double-right"></i> Add New Jobs</a></li>
                                <li><a href="" id="existingjobs"><i class="fa fa-angle-double-right"></i> Existing Jobs</a></li>
                               
                            </ul>
                        </li>
                        <li>
                            <a href="" id="editorg">
                                <i class="fa fa-gear"></i> <span>Edit Organization Details</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#" id="evaluation">
                                <i class="fa fa-pencil"></i> <span>Evaluation Sheet</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="">
                                <i class="fa fa-database"></i><span>Candidate Database</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            
                            <ul class="treeview-menu">
                                <li><a href="" id="cdb"><i class="fa fa-angle-double-right"></i> Search Candidate</a></li>
                               <!-- <li><a href="#importcv"><i class="fa fa-angle-double-right"></i> Import CVs</a></li>
                                <li><a href="#talentpool"><i class="fa fa-angle-double-right"></i>Talent Pool</a></li>-->
                               
                            </ul>
                        </li>
                    </ul>
                </section>
              <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            
			
			<aside class="right-side item_no_menu">
                <section class="content-header">
                    <h1>
                        Dashboard
                        
                    </h1>
					<ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                    
                </section>
                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        75%<sup><small class="badge bg-red">increase</small>
                                    </h3>
                                    <p>
                                       Demographics
                                    </p>
                                </div>
                                <div class="icon"  style="padding-bottom:20px; padding-right:15px;">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </div>
                                <a href="" class="small-box-footer companydetails">
                                    More info &nbsp;<i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->

                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        53<sup><small class="badge bg-red">new</small>
                                    </h3>
                                    <p>
                                        Employees
                                    </p>
                                </div>
                                <div class="icon" style="padding-bottom:20px; padding-right:15px;">
                                    <i class="glyphicon glyphicon-stats"></i>
                                </div>
                                <a  href="" class=" employeedetail small-box-footer">
                                    More info &nbsp;<i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-blue">
                                <div class="inner">
                                    <h3>
                                        4<sup><small class="badge bg-red">approved</small>
                                    </h3>
                                    <p>
                                        Vacancies
                                    </p>
                                </div>
                                <div class="icon" style="padding-bottom:8px; padding-right:15px;">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <a href="#" class="all_vacancies small-box-footer">
                                    More info &nbsp;<i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-orange">
                                <div class="inner">
                                    <h3>
                                        6<sup><small class="badge bg-red">interviews</small>
                                    </h3>
                                    <p>
                                        Scheduler
                                    </p>
                                </div>
                                <div class="icon" style="padding-bottom:20px; padding-right:15px;">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a href="#" class="small-box-footer interview">
                                    More info &nbsp;<i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
		<div class="row myblock"></div>
           <div class="row" id="content_blocks">
				<!--	 <div id="cont_form"></div>
                      <div id="cont_form2"></div>-->
            </div>
        
</div>
              <!-- jQuery 2.0.2 -->
          <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <!-- jQuery UI 1.10.3 -->
            <script src="../js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
            <!-- Bootstrap -->
            <script src="../js/bootstrap.min.js" type="text/javascript"></script>
            <!-- AdminLTE App -->
            <script src="../js/prorecruit/app.js" type="text/javascript"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="../js/prorecruit/dashboard.js" type="text/javascript"></script>     
          </body>
    </html>   