    <!DOCTYPE html>
    <html>
        <head>
             <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		
    <script src="../js/jquery.min.js"></script>
            <script src="../js/jquery-ui-1.10.3.min.js"></script>
            <script src="../js/tagit/tagit.js"></script>
            <link href="../css/tag/tagit-blue.css" rel="stylesheet"/>
            
       
          
            
     
           </head>
        <body>
	 

     <section  class="col-lg-12"> 
     
    
                        <div class="box box-primary" style="padding-top:5px">    
                            
                                <div class="box-header">
                                      <div class="pull-right ">
                        <button class="btn btn-danger btn-sm refresh-btn" data-widget="refresh" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-widget='expand' data-toggle="tooltip" title="Expand" style="display:none"><i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                                    
                                        <h3 class="box-title"><i class="fa fa-pencil"></i>&nbsp;Candidate Form</h3>
                                 </div><!-- /.box-header -->
                                <div class="box-body">
                                       <div id="candidateform" class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
                                    <li><a href="#edu" data-toggle="tab">Qualifications</a></li>
                                    <li><a href="#company_details" data-toggle="tab">Skills and Previous Works</a></li>
                                    <li><a href="#agreement" data-toggle="tab">Agreement</a></li>
                                    
                                </ul></div><br>
								 <div class="tab-content no-padding">
                                  
                                    <div class="tab-pane active" id="personal" >
                                
                                  
                                        <div class="form-group col-lg-4">
                                            <label for="position">Position Applied</label>
                                            <input type="text" class="form-control" disabled data-bind="value:position">
                                          
                                            </select>
                                        </div>
                                        <div class="form-group pull-right col-lg-2 col-lg-offset-6">
                                            <label for="f_name">Referral Code</label>
                                            <input type="text" class="form-control" id="ref_code" data-bind="value:ref_code"  />
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="f_name">First Name</label>
                                            <input type="text" class="form-control save1" data-bind="value:f_name" id="f_name"  placeholder="First Name">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="l_name">Last Name</label>
                                            <input type="text" class="form-control save1" data-bind="value:l_name" id="l_name"  placeholder="Last Name">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" data-bind="value:email" id="email" class="save" placeholder="you@yourdomian.com">
                                        </div><div class="form-group col-lg-6">
                                            <label for="exp">Experience</label>
                                            <input type="text" class="form-control" data-bind="value:experience" id="exp" placeholder="">
                                        </div><div class="form-group col-lg-6">
                                            <label for="coontact_no">Contact Number</label>
                                            <input type="text" class="form-control" data-bind="value:contact_no" id="contact_no" placeholder="">
                                        </div><div class="form-group col-lg-12">
                                            <label for="gender">Gender</label>&nbsp;&nbsp;
                                            <input type="radio" value="on" name="sex" data-bind="checked:isMale" >Male</input>&nbsp;&nbsp;
                                            <input type="radio" value="on" name="sex" data-bind="checked:isFemale" >Female</input>
                                        </div><div class="form-group col-lg-6">
                                            <label for="place">Present Location</label>
                                            <input type="text" class="form-control" data-bind="value:place" id="place" placeholder="">
                                        </div><div class="form-group col-lg-6">
                                            <label for="notice_period">Notice Period</label>
                                            <input type="text" class="form-control" data-bind="value:notice_period" id="notice_period" placeholder="">
                                        </div><div class="form-group col-lg-6">
                                            <label for="salary">Current Salary</label>
                                            <input type="text" class="form-control" data-bind="value:salary" id="salary" placeholder="">
                                        </div><div class="form-group col-lg-6">
                                            <label for="ctc">Expected Salary(CTC)</label>
                                            <input type="text" class="form-control" data-bind="value:ctc" id="ctc" placeholder="">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="language">Language Known</label>
                                           <ul id="lang" data-bind="value:lang" class="form-control list-group"></ul>
                                           
                                        </div>
                                        <div class="box-footer pull-right">
                                                   <button type="button" class="tabnext1 btn btn-danger">Next</button>
                                        </div>
                                         
                                    
                                </div>
                            
                                        
<!-- EDU-->
                          <div class="  tab-pane " id="edu" style="position: relative;">
                                        <table class=" form-group table table-hover table-condensed table-responsive col-lg-12">
                                            <tr>
                                                <th>Qualification</th>
                                                <th>10th</th>
                                                <th>12th</th>
                                                <th>Graduate</th>
                                                <th>Post. Graduate</th>
                                            </tr>
                                            <tr>
                                                <th>Board</th>
                                                <td><input type="text" data-bind="value:b_10" class="form-control"/></td>
                                                <td><input type="text" data-bind="value:b_12" class="form-control"/></td>
                                                <td><input type="text" data-bind="value:b_grad" class="form-control"/></td>
                                                <td><input type="text" data-bind="value:b_postgrad" class="form-control"/></td>
                                             </tr>
                                             <tr>
                                                <th>Percentage</th>
                                                <td><input type="text" data-bind="value:p_10" class="form-control"/></td>
                                                <td><input type="text" data-bind="value:p_12" class="form-control"/></td>
                                                <td><input type="text" data-bind="value:p_grad" class="form-control"/></td>
                                                <td><input type="text" data-bind="value:p_postgrad" class="form-control"/></td>
                                             </tr>
                                        </table>
                                        <hr><hr>
                                        <div class="form-group col-lg-12">
                                            <label for="cert">Certifications</label>
                                            <textarea rows="3" class="form-control" data-bind="value:certification" id="cart" placeholder="" ></textarea>
                                        </div><hr>
                                        <div class="form-group col-lg-12">
                                            <label for="achiev">Achievements</label>
                                            <textarea rows="3" class="form-control" data-bind="value:achievements" id="achiev" placeholder=""></textarea>
                                        </div>
                                        <div class="box-footer pull-right">
                                                    <button type="button" class="btn btn-primary tabprev2">Previous</button>
										          
										            <button type="button" class="btn btn-danger tabnext2">Next</button>
                                               </div>
                            </div>

<!--/EDU-->
<!--Company Details -->
                                       <div class="  tab-pane" id="company_details" style="position: relative;">
                                           <div id="">
                                            <table id="demotable" class="table table-hover table-responsive">
                                            <thead><tr>
                                                <th>Skills Known</th>
                                                <th>Rate Yourself(1-5)</th>
                                                <th>Years of Experience</th>
                                            </tr>
                                                </thead>
                                            <tbody  data-bind="foreach:skills">
                                            
                                                <tr >
                                                <td><input type="text" class=" form-control" data-bind="value:name"></td>
                                                <td class="starss" style="cursor:pointer;">
                                                    <input type="number" min=0 max=5 class="starinput form-control" data-bind="value:rate,valueUpdate:'afterkeydown'" style="width:100%"/>
                                                   <div data-bind="starRating:rate"> 
                                                   </div>                           
                                                </td>
                                                <td><input type="number" class="form-control" data-bind="value:exp"></td>
                                                <td><a href="#" data-bind="click:removeSkill"><button class="btn btn-info"><i class="fa fa-times"></i></button></a></td>
                                            </tr>
                                                
                                            </tbody>
                                                
                                             </table>
                                        <a href="#" data-bind=" click:addskill" ><i class="fa fa-plus fa-lg"></i>Add Skills</a>   
                                        </div>
                                           
                                            <hr>
                                           <div id="ko-company">
                                        <table class="table table-hover col-lg-12 table-responsive ">
                                        <thead>
                                            <tr>
                                            <th>Companies</th>
                                            <th>Role Played</th>
                                            <th>Reason for Leaving</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                        </tr>
                                        </thead>
                                        <tbody data-bind="foreach:company">
                                        <tr>
                                            <td><input type="text" class="form-control" data-bind="value:name"></td>
                                            <td><input type="text" class="form-control" data-bind="value:role"></td>
                                            <td><input type="text" class="form-control" data-bind="value:reason"></td>
                                            <td ><input type="date" class=" form-control" data-bind="value:fromdate"></td> 
                                             <td><input type="date" class="form-control" data-bind="value:todate"></td>
                                          
                                            <td><a href="#" data-bind="click:removeCompanyDetail">
                                                    <button class="btn btn-info"><i class="fa fa-times"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                           <a href="#" data-bind="click:addCompanyDetail" ><i class="fa fa-plus fa-lg"></i>Add Company</a>
                                           </div><hr>
                                           <div class="box-footer pull-right">
                                                    <button type="button" class="btn btn-primary tabprev3">Previous</button>
										          
										            <button type="button" class="btn btn-danger tabnext3">Next</button>
                                               </div>
                                        </div>
<!--company Details-->

                                  
                                    <div class="  tab-pane" id="agreement" style="position: relative;">
                                           
                                        <div class="form-group col-lg-12">
                                            <label for="resume">Upload Resume</label><br>
                                            <input type="file" accept="application/pdf" id="resumeupload" style="display:none">
                                            <button type="button" class="btn btn-lg uploadresume fa fa-paperclip"></button>
                                            <span class="help-block">Upload PDF File (Max Size: 3MB)</span>
                                        </div>
                                        
                                         <div class="form-group checkbox col-lg-12">
                                           <h4>Declaration</h4>
                                            <label >
                                                I hereby declare that the above written particular are true to the best of my knowledge and belief.
                                            </label>
                                        </div>
                                        <div class="form-group col-lg-12">
                                           
                                            <label >
                                                 <input type="checkbox"  value=""/> By filling up the form, I agree to the terms and conditions of ProcessMAP Pvt. Infotech Ltd.
                                            </label>
                                        </div>
                                          <div class="box-footer">
                                               <button type="button" class="btn btn-primary tabprev4">Previous</button>
                                                    <button type="submit" data-bind="click:submit" class="btn btn-primary">Submit</button>
										          
										            <button type="button"  class="btn btn-danger">Cancel</button>
                                               </div>	
                                    </div></div></div></div>
  </section>                                  
 
                           
<!--/Candidate Form-->
   <!-- jQuery 2.0.2 -->
      <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
<script src="../js/jquery-ui-1.10.3.min.js"></script>
<script>
    console.log("Enter");
    $("[type='submit']").click(function(e){
    console.log("clicked");
    e.preventDefault();
    var that=$('.save');
    sessionStorage.setItem(that.attr('id'),that.val());
});</script>

    
        <script src="../js/bootstrap.min.js" type="text/javascript"></script>


 <script>
                $(document).ready(function(e){
            $("#lang").tagit({
                triggerKeys:['enter', 'comma', 'tab'],
                editable:true,
                sortable:true
            });
                });
            </script><script src="../js/knockout.js"></script>
<script src="../js/knockout-mapping.js"></script>            
<script src="../viewModel/vm_candidateform.js"></script>


         
<script>
                $(document).ready(function() {
                    ko.applyBindings(viewModel3.data, $(".tab-content")[0]);      
                }); 
        
</script>
<script>
                $(document).ready(function(e){
                        $("button.uploadresume").click(function(){
                            var that=$(this);
                            $("#resumeupload").trigger('click');
                            $('#resumeupload').change(function() {
                                that.siblings('p').remove();
                                var path=$('#resumeupload').val();
                                var s= path.split(".");
                                if(s[1]!='pdf'){that.after('<p data-bind="text:resume">The file type of <strong>'+s[1]+'</strong> is not supported</p>');}
                                else{that.after('<p>'+$('#resumeupload').val()+'</p>');}

                            });
                        });
                    
                       
                        //$('div.rate-skill').append('<input type="hidden" value=""/>');     

                });
                $(document).ready(function(){
//                  var b=$(".starinput").val();
//                    $(".starinput").siblings("img[alt="+b+"]").trigger('click');
//                   
                    $(".starinput").on('change',function(){
                        
                        var that=$(this);
                        var a=that.val();
                        that.siblings("img[alt="+a+"]").trigger('click');
                       
                    
                    });
//                    $(".starss").on('change',function(){
//                        
//                       var c= $(this).find("input");
//                        console.log(c);
//                        c.val(c.value);
//                    
//                    });
                  
                   // $('div img.rating').click(function(e){
                       
                        
//                        var that=$(this);
//                        var a=that.attr("alt");
//                        that.attr("src","../img/star-on.png");
//                        that.prevAll().attr("src","../img/star-on.png");
//                        that.nextAll().attr("src","../img/star-off.png");
//
//                        $(this).siblings("input").attr("value",a);
//                        var d=$(this).siblings("input").attr("value");
//                       // console.log(d);
//                        
//                        $(this).siblings("input").val(d);
                        
                 //   }); 
                        
                        //<!--next and previous buttons-->
                        $(".tabnext1").click(function(){
                                $("a[href='#edu']").trigger("click");
                      
                        });
                        $(".tabnext2").click(function(){
                            $("a[href='#company_details']").trigger("click");
                      
                        });
                        $(".tabprev2").click(function(){
                            $("a[href='#personal']").trigger("click");
                      
                        });
                        $(".tabnext3").click(function(){
                            $("a[href='#agreement']").trigger("click");
                      
                        });
                        $(".tabprev3").click(function(){
                                $("a[href='#edu']").trigger("click");
                      
                        });
                        $(".tabprev4").click(function(){
                            $("a[href='#company_details']").trigger("click");
                      
                        });  //next and prev
               

    });
        </script>


                 <script src="../js/bootstrap.min.js" type="text/javascript"></script>
            <!-- AdminLTE App -->
            <script src="../js/prorecruit/app.js" type="text/javascript"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="../js/prorecruit/dashboard.js" type="text/javascript"></script>
              
 
          </body>
    </html>      
