
	<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/jquery-ui.css">
        <script src="../js/jquery.min.js"></script>
        
      
        <script src="../js/jquery-1.10.2.js"></script> 
        <script src="../js/jquery-1.10.4.js"></script> 
        <!-- DATA TABLES -->
        <link href="../css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <body> 
	  
	  <!-- CANDIDATE DATABASE -->                
                         
                    <section  class="col-lg-12 "> 
                        
                             <div class="box box-primary" style="padding-top:5px">
                                <div class="box-header">
                                    <!-- tools box -->
                                    <div class="pull-right ">

                                         <button class="btn btn-danger btn-sm refresh-btn" data-widget="refresh" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button>
                                        <button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-danger btn-sm" data-widget='expand' data-toggle="tooltip" title="Expand" style="display:none"><i class="fa fa-plus"></i></button>
                                        <button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
										

                                    </div><!-- /. tools -->
                                   
                                    <h3 class="box-title">Candidates</h3>                                    
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 100px">Name</th>
                                                <th style="width: 150px">Referred By</th>
                                                <th style="width: 150px">Location</th>
                                                    <!--Status: success-selected warning-onhold danger-rejected primary-shortlisted--->
                                                <th style="width: 300px">Status</th>
                                                <th style="width: 50px">Experience</th>
                                                <th style="width: 200px">Achievements</th>
                                                <th style="width: 200px">Skills</th>
                                                <th style="width: 200px">Other Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>A. Verma</td>
                                                <td>D. Mehra [PMBBSR203]</td>
                                                <td>Kolkatta</td>
                                                <td><i class="fa fa-circle text-danger"> Rejected</i> for round-3 {job-id}</td>
                                                <td>3</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>A. Bhargava</td>
                                                <td>S. Mishra[PMHYD134]</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>1</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>A. Mishra</td>
                                                <td>---</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>S. Singh</td>
                                                <td>R. Mishra[PMHYD234]</td>
                                                <td>Hyderabad</td>
                                                <td>1</td>
                                                <td>Selected</td>
                                                <td>---</td>
                                                <td>---</td>
                                                <td>---</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>G. Shrivastava</td>
                                                <td>Firefox 1.5</td>
                                                <td>Raipur</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>S. Das</td>
                                                <td>Firefox 2.0</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>B. Subramanium</td>
                                                <td>D. Soni [PMBBSR123]</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-danger"> Rejected</i> for round-2 {job-id}</td>
                                                <td>3</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>C. Sharma</td>
                                                <td>---</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-warning"> On-hold</i> for round-4 {job-id}</td>
                                                <td>5</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>R. Gupta</td>
                                                <td>Camino 1.5</td>
                                                <td>OSX.3+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>B. Verma</td>
                                                <td>D. Mehra [PMBBSR203]</td>
                                                <td>Kolkatta</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-3 {job-id}</td>
                                                <td>3</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>C. Bhargava</td>
                                                <td>S. Mishra[PMHYD134]</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>1</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>D. Mishra</td>
                                                <td>---</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>E. Singh</td>
                                                <td>R. Mishra[PMHYD234]</td>
                                                <td>Hyderabad</td>
                                                <td>1</td>
                                                <td>Selected</td>
                                                <td>---</td>
                                                <td>---</td>
                                                <td>---</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>F. Shrivastava</td>
                                                <td>Firefox 1.5</td>
                                                <td>Raipur</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>G. Das</td>
                                                <td>Firefox 2.0</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>H. Subramanium</td>
                                                <td>D. Soni [PMBBSR123]</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-danger"> Rejected</i> for round-2 {job-id}</td>
                                                <td>3</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>I. Sharma</td>
                                                <td>---</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-warning"> On-hold</i> for round-4 {job-id}</td>
                                                <td>5</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>J. Gupta</td>
                                                <td>Camino 1.5</td>
                                                <td>OSX.3+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>K. Verma</td>
                                                <td>D. Mehra [PMBBSR203]</td>
                                                <td>Kolkatta</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-3 {job-id}</td>
                                                <td>3</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>L. Bhargava</td>
                                                <td>S. Mishra[PMHYD134]</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>1</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>M. Mishra</td>
                                                <td>---</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>N. Singh</td>
                                                <td>R. Mishra[PMHYD234]</td>
                                                <td>Hyderabad</td>
                                                <td>1</td>
                                                <td>Selected</td>
                                                <td>---</td>
                                                <td>---</td>
                                                <td>---</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>O. Shrivastava</td>
                                                <td>Firefox 1.5</td>
                                                <td>Raipur</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>P. Das</td>
                                                <td>Firefox 2.0</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>R. Subramanium</td>
                                                <td>D. Soni [PMBBSR123]</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-danger"> Rejected</i> for round-2 {job-id}</td>
                                                <td>3</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>S. Sharma</td>
                                                <td>---</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-warning"> On-hold</i> for round-4 {job-id}</td>
                                                <td>5</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>T. Gupta</td>
                                                <td>Camino 1.5</td>
                                                <td>OSX.3+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>U. Verma</td>
                                                <td>D. Mehra [PMBBSR203]</td>
                                                <td>Kolkatta</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-3 {job-id}</td>
                                                <td>3</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>V. Bhargava</td>
                                                <td>S. Mishra[PMHYD134]</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>1</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>Y. Mishra</td>
                                                <td>---</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>A. Singh</td>
                                                <td>R. Mishra[PMHYD234]</td>
                                                <td>Hyderabad</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>---</td>
                                                <td>---</td>
                                                <td>---</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>B. Shrivastava</td>
                                                <td>Firefox 1.5</td>
                                                <td>Raipur</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>C. Das</td>
                                                <td>Firefox 2.0</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>E. Subramanium</td>
                                                <td>D. Soni [PMBBSR123]</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-danger"> Rejected</i> for round-2 {job-id}</td>
                                                <td>3</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>G. Sharma</td>
                                                <td>---</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-warning"> On-hold</i> for round-4 {job-id}</td>
                                                <td>5</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>H. Gupta</td>
                                                <td>Camino 1.5</td>
                                                <td>OSX.3+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>I. Verma</td>
                                                <td>D. Mehra [PMBBSR203]</td>
                                                <td>Kolkatta</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-3 {job-id}</td>
                                                <td>3</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>J. Bhargava</td>
                                                <td>S. Mishra[PMHYD134]</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>1</td>
                                                <td>MSP</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>K. Mishra</td>
                                                <td>---</td>
                                                <td>Bhubaneshwar</td>
                                                <td><i class="fa fa-circle text-primary"> Shortlisted</i> for round-2 {job-id}</td>
                                                <td>4</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>L. Singh</td>
                                                <td>R. Mishra[PMHYD234]</td>
                                                <td>Hyderabad</td>
                                                <td>1</td>
                                                <td>Selected</td>
                                                <td>---</td>
                                                <td>---</td>
                                                <td>---</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>M. Shrivastava</td>
                                                <td>Firefox 1.5</td>
                                                <td>Raipur</td>
                                                <td><i class="fa fa-circle text-success"> Selected</i> for {job-id}</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>N. Das</td>
                                                <td>Firefox 2.0</td>
                                                <td>Win 98+ / OSX.2+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>O. Subramanium</td>
                                                <td>D. Soni [PMBBSR123]</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-danger"> Rejected</i> for round-2 {job-id}</td>
                                                <td>3</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>P. Sharma</td>
                                                <td>---</td>
                                                <td>Ranchi</td>
                                                <td><i class="fa fa-circle text-warning"> On-hold</i> for round-4 {job-id}</td>
                                                <td>5</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                            <tr>
                                                <td>R. Gupta</td>
                                                <td>Camino 1.5</td>
                                                <td>OSX.3+</td>
                                                <td>1.8</td>
                                                <td>A</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="width: 200px">Name</th>
                                                <th style="width: 200px">Referred By</th>
                                                <th style="width: 200px">Location</th>
                                                <th style="width: 150px">Status</th>
                                                <th style="width: 150px">Experience</th>
                                                <th style="width: 200px">Achievements</th>
                                                <th style="width: 200px">Skills</th>
                                                <th style="width: 200px">Other Details</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                   

                </section><!-- /.content -->
                         
                         
                         
      <!-- CANDIDATE DATABASE ENDS --> 





        
        <!-- DATA TABES SCRIPT -->
        <script src="../js/jquery.dataTables.js" type="text/javascript"></script>
        <script src="../js/dataTables.bootstrap.js" type="text/javascript"></script>
        <!-- APP JS -->
        <script src="../js/app.js" type="text/javascript"></script>

        <!-- page script -->
        <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
                   <!-- jQuery 2.0.2 -->
          <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
            <!-- jQuery UI 1.10.3 -->
            <script src="../js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
            <!-- Bootstrap -->
            <script src="../js/bootstrap.min.js" type="text/javascript"></script>
            <!--  App -->
            <script src="../js/prorecruit/app.js" type="text/javascript"></script>
            <!-- -->
            <script src="../js/prorecruit/dashboard.js" type="text/javascript"></script>     
          </body>
    </html>      

