



				<section>
					<div class="row">
                        <div class="col-lg-6 ">
                            <div class="box box-success">
                                <div class="box-header">

									<!--tools-->
									<div class="pull-right box-tools">
                                        <button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                                    </div><!-- /. tools -->
									
									<div class="form-group"><h3><label>ROUND-2 Details</label></h3>
									</div>
									<div class="form-group">
										<label>Requisition By: A. Behera</label>
										<div><label>Date of Request: 16-06-14</label></div>
										<div><label>Date of Approval: 17-06-14</label></div>
									</div>
									
								</div><!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Candidate Name</th>
                                            <th>Location</th>
                                            <th>Schedule Interview Date</th>
                                            <th>Schedule Interview Time</th>
											<th>Select Interviewer</th>
                                        </tr>
                                        <tr>
                                            <td><a>A. Das</a></td>
                                            <td>Bhubaneshwar</td>
                                            <td>
                                                <div>
                                                    <input type="text" id="datepicker">
                                                </div>
                                            </td>
                                            <td>
												<div>
                                                    <input type="text" id="timepicker">
													<div class="col-lg-6">
														<select class="form-control">
														<option>AM</option>
														<option>PM</option>
														</select>
													</div>
												</div>
											</td>
											<td>
												<div>
													<select multiple class="form-control">
														<option>Deepak Mahapatra</option>
														<option>Shiba Sundar Behera</option>
														<option>Yamini Gupta</option>
														<option>Arun Chauhan</option>
													</select>
												</div>
											</td>
                                        
                                        </tr>
                                        <tr>
                                            <td><a>P. Nag</a></td>
                                            <td>Kolkatta</td>
                                            <td>
                                                <div>
                                                    <input type="text" id="datepicker">
                                                </div>
                                            </td>
                                            <td>
												<div>
                                                    <input type="text" id="timepicker">
													<div class="col-lg-6">
														<select class="form-control">
														<option>AM</option>
														<option>PM</option>
														</select>
													</div>
												</div>
											</td>
											<td>
												<div>
													<select multiple class="form-control">
														<option>Deepak Mahapatra</option>
														<option>Shiba Sundar Behera</option>
														<option>Yamini Gupta</option>
														<option>Arun Chauhan</option>
													</select>
												</div>
											</td>
                                        
                                        </tr>
                                        <tr>
                                            <td><a>K. Mishra</a></td>
                                            <td>Hyderabad</td>
                                            <td>
                                                <div>
                                                    <input type="text" id="datepicker">
												</div>
                                            </td>
                                            <td>
												<div>
                                                    <input type="text" id="timepicker">
													<div class="col-lg-6">
														<select class="form-control">
														<option>AM</option>
														<option>PM</option>
														</select>
													</div>
												</div>
											</td>
											<td>
												<div>
													<select multiple class="form-control">
														<option>Deepak Mahapatra</option>
														<option>Shiba Sundar Behera</option>
														<option>Yamini Gupta</option>
														<option>Arun Chauhan</option>
													</select>
												</div>
											</td>
                                        </tr>
                                        <tr>
                                            <td><a>D. Singh</a></td>
                                            <td>Cuttack</td>
                                            <td>
                                                <div>
                                                    <input type="text" id="datepicker">
                                                </div>
                                            </td>
                                            <td>
												<div>
                                                    <input type="text" id="timepicker">
													<div class="col-lg-6">
														<select class="form-control">
														<option>AM</option>
														<option>PM</option>
														</select>
													</div>
												</div>
											</td>
											<td>
												<div>
													<select multiple class="form-control">
														<option>Deepak Mahapatra</option>
														<option>Shiba Sundar Behera</option>
														<option>Yamini Gupta</option>
														<option>Arun Chauhan</option>
													</select>
												</div>
											</td>
                                        
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li><a href="#">&laquo;</a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div><!-- /.box -->
						</section>







